/* Colori Header */
.h-top {
    background-color: #fff;
}
.light-blue {
    background-color: #b4d0e7;
}
/* Colori hr */
.price-table-top > div hr {
    border-color: lightgrey;
}
/* Colori Sezione 1 */
.price-table-top > div {
    border-color: #000;
}
.f-container hr {
    border-color: #fff;
}
/* Colori Bottoni */
.btn.bl {
    background-color: #0061ff;
    color: #fff;
}
.btn.wh {
    background-color: #fff;
    color: #000;
}
/* Colori sezione 3 */
.third-section a, .third-section a:active {
    color: blue;
}
/* Colori Sezione 4 */
.cc {
    color: #f5f5f5;
}
.bring-dpx h2 {
    color: #61082b;
}
/* Colori sfondo brand Sezione 4  */
#b1 {
    background-color: #a2d39b;
    /* colore effetto bakcground-color: #d1e9cd;*/
}
#b2 {
    background-color: #61082b;
}
#b3 {
    background-color: #0093ce;
}
#b4 {
    background-color: #ff1c1c;
}
#b5 {
    background-color: #d5001f;
}
#b6 {
    background-color: #b4d0e7;
}
#b7 {
    background-color: #0d2481;
}
#b8 {
    background-color: #ffd830;
}
/* Colori Footer */
.f-container p {
    color: #fff;
}