/* Debug header */
.debug header {
    background-color: blue;
}
.debug .h-top {
    border: 1px dotted red;
    background-color: grey;
}
.debug .h-bottom {
    background-color: yellow !important;
    border: 1px dotted green;
}
/* Debug corpo pagina */
.debug #first-section {
    background-color: bisque;
}
.debug .price-table-top > div, .debug .price-table-bottom > div {
    background-color: grey;
    height: 90vh;
}
/* Sezione 2 */
.debug #second-section {
    background-color: rgb(139, 80, 8);
}
.debug #second-section>div {
    background-color: rgb(36, 139, 8);
}
/* Sezione 3 */
.debug #third-section {
    background-color: rgb(255, 0, 0);
}
.debug #s3-container {
    background-color: rgb(226, 43, 183);
}
.debug #s3-container div {
    background-color: rgb(255, 255, 255);
    border: 2px dotted red;
}
/* Sezione 4 */
.debug #fourth-section {
    background-color: blueviolet;
}
.debug .b-cont {
    background-color: rgb(43, 226, 150);
}
.debug .b-cont div {
    border: 2px dotted red;
}
.debug .bring-dpx {
    background-color: lightblue;
}
.debug div {
    background-color: rgb(19, 83, 15);
}
/* Sezione 5 */
.debug #last-section {
    height: 50vh;
}
.debug #last-section {
    background-color: rgb(226, 159, 43);
}
/* Sezione 5 */
.debug footer {
    background-color: #000;
    height: 70vh;
}
.debug .f-container-flex {
    background-color: rgb(226, 43, 43);
}
.debug .f-container-flex div {
    background-color: #345642;
}