/* Effetti Header  */
.h-top ul li:hover {
    border-bottom: 2px solid black;
}
.fa-arrow-down:hover {
    color: #be0000;
}
.fatturazione:hover {
    text-decoration: underline;
}
#logo:hover, #nav-btn {
    border:0;
} 
/* Effetti corpo pagina  */
#last-section:hover .hidden-p {
    display: block;
}
.else a:hover, #third-section a:hover {
    color: #6582ff;
}
.main:hover .fa-angle-down {
    transform: rotate(180deg);
    transition: all 0s linear;
}
/* Effetti Footer */
.f-container-flex a:hover {
    text-decoration: underline;
    color: #fff;
}
/* Effetti bottoni  */
.btn.bl:hover  {
    background-color: #9191ff;
}
.btn.wh:hover, .btnx-wh2:hover  {
    color: #fff;
    background-color: #000;
}
/* Animazione sfondo brand Sezione 4  */
#b1:hover, #b1:active {
    border:20px solid #d1e9cd;
}
#b2:hover, #b1:active {
    border:20px solid #5d2c3f;
}
#b3:hover, #b1:active {
    border:20px solid #619fb8;
}
#b4:hover, #b1:active {
    border:20px solid #ff6363;
}
#b5:hover, #b1:active {
    border:20px solid #d14d61;
}
#b6:hover, #b1:active {
    border:20px solid #d8dde0;
}
#b7:hover, #b1:active {
    border:20px solid #293a7d;
}
#b8:hover, #b8:active {
    border:20px solid #f6de76;
}
