* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans' sans-serif;
}
/* Regole font */
h2 {
    font-size: 36px;
}
/* Header pagina */
header {
    height: 80vh;
    position: relative;
}
.h-top {
    width: 100vw;
    position: fixed;
    height:65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #fff;
}
.h-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: calc(100vw / 4);
    list-style-type: none;
}
.h-bottom {
    height: 75vh;
    padding-top: 10vh;
    background-color: lightblue;
}
.h-bottom {
    margin: auto;
    width: 70%;
}
header img {
    position: absolute;
    width: 35%;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
}
/* Corpo pagina */
main section:not(.fourth-section) {
    width: 60%;
    margin: auto;
}
/* Prima sezione */
.head-section > h2:first-child {
    padding: 30px 0;
}
.head-section > div, span :not(p) {
    display: inline-block;
}
.head-section > span, div {
    vertical-align: middle;
}
#chk-radio-btn {
    border: 5px solid blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#unchk-radio-btn {
    border: 2px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.fatturazione {
    padding: 20px;
}
.price-table-top {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.price-table-top > div {
    border: 1px solid black;
    height: 90vh;
    width: calc(90% / 3);
}
.price-table-top > div hr {
    border: 1px solid lightgrey;
    width: 30%;
}
/* Tabella prezzi inferiore */
.price-table-bottom {
    padding-top: 45px;
}
.price-table-bottom > div {
    border: 1px solid black;
    height: 35vh;
    width: 100%;
}
/* Sezione 2 */
.second-section {
    display: flex;
    align-items: center;
    padding: 50px 0px;
}
.second-section > div {
    width: calc(100% / 2);
    height: 50vh;
}
#s2-img {
    background-image: url('../img/partner.png');
    background-size: cover;
}
/* Sezione 3 */
#s3-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 30px 0;
}
#s3-container div {
    width: calc(90% / 3 );
    height: 50vh;
}
.third-section h2:first-child {
    text-align: center;
}
.third-section h2 {
    padding: 50px 0;
}
.third-section a, .third-section a:active {
    color: blue;
}
/* Sezione 4 */
.top-part {
    display: flex;
    width: 100%;
    height: 65vh;
}
.b-cont {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.b-cont div {
    width: calc(100% / 2);
    height: 50%;
}
.bring-dpx {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.dpx-container {
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    flex-basis: 59%;
    padding-left: 20%;
}
/* Sezione 5 */
.last-section {
    height: 50vh;
}
.last-section > h2 {
    padding: 30px 0;
}
.last-section > p {
    padding: 30px 0;
    text-align: center;
}
/* Footer pagina */
footer {
    height: 50vh;
}
.f-container {
    width: 70%;
    margin: auto;
}
.f-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.f-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.f-container-flex > div {
    width: calc(85% / 5);
    height: 38vh;
}
.f-container hr {
    border: 0.5px solid #fff;
    width: 10%;
    margin: 30px 0;
}
.f-container p {
    color: #fff;
}
