* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans' sans-serif;
}
/* Header pagina */
header {
    height: 80vh;
    position: relative;
}
.h-top {
    width: 100vw;
    position: fixed;
    height:65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: calc(100vw / 4);
    list-style-type: none;
}
.h-bottom {
    height: 75vh;
    padding-top: 10vh;
    background-color: lightblue;
}
header img {
    position: absolute;
    width: 35%;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
}
/* Corpo pagina */
    
/* Footer pagina */

/* Classi debug */
.debug header {
    background-color: blue;
}
.debug .h-top {
    border: 1px dotted red;
    background-color: grey;
}
.debug .h-bottom {
    background-color: yellow!important;
    border: 1px dotted green;

}
