* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar, #first-section div::-webkit-scrollbar {
    display: none;
}
/* Regole Comuni */
.d-flex {
    display: flex;
}
.flex-sp-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.just-center {
    justify-content: center;
}
.align-basel {
    align-items: baseline;
}
.flex-wrap {
    flex-wrap: wrap;
}
.calc-2-w {
    width: calc(100% / 2);
}
.calc-2 {
    width: calc(100% / 2);
    height: calc(100% / 2);
}
.calc-3 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.pointer {
    cursor: pointer;
}
/* Width e margini preimpostati */
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-100 {
    width: 100%;
}
.m-auto {
    margin: auto;
}
.m-top-30 {
    margin-top: 30px;
}
.pad-top-bottom-15 {
    padding: 15px 0;
}
.pad-left-20 {
    padding-left: 20px;
}
/* Bottoni */
.btn, .btnx-wh2 {
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}
.btn.wh {
    border: 1px solid black;
}
.btn-dpx {
    flex-basis: 59%;
    padding-left: 20%;
}
/* Header pagina */
.h-top {
    position: fixed;
    height: 65px;
    z-index: 10;
}
.h-top ul {
    justify-content: space-around;
    align-items: center;
    flex-basis: calc(100vw / 3.5);
    list-style-type: none;
}
header nav ul li {
    flex-shrink: 0;
    border-bottom: 1px solid #fff;
    line-height: 65px;
}
#logo {
    line-height: 0;
}
.nav-anchor {
    text-decoration: none;
    display: inline-block;
}
.h-bottom h1 {
    padding: 49px 0;
    font-size: 65px;
    width: 90%;
}
.h-bottom {
    height: 690px;
    padding-top: 65px;
}
#head-jumbo-btn {
    margin: 30px 0;
}
.fa-arrow-down {
    margin-top: 55px;
}
/* Corpo pagina */
main section:not(#fourth-section) {
    width: 60%;
    margin: auto;
}
/* Radio Button */
#unchk-radio-btn, #chk-radio-btn {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#chk-radio-btn {
    border: 5px solid #0061ff;
}
#unchk-radio-btn {
    border: 2px solid black;
}
/* Prima sezione */
.head-section > h2 {
    margin: 140px 0 30px;
}
.head-section div, span :not(p) {
    display: inline-block;
}
.head-section div, span {
    vertical-align: middle;
}
.fatturazione {
    padding: 25px;
}
.price-table-top {
    padding-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.price-table-top > div {
    border: 1px solid black;
    width: calc(90% / 3);
    height: 150vh;
    overflow-y: auto;
}
.price-table-top > div hr {
    border: 0.5px solid;
    width: 20%;
    margin: 50px 35px 50px;
}
.user-price {
    text-align: center;
    border-bottom: 1px solid #000;
}
.user-price i {
    padding: 0 6px;
}
.price {
    font-weight: bold;
}
.table-btn {
    padding: 12px 30px;
    margin: 28px 0px;
}
/* Regole icone font awersome */
.people:before, .people-2:before, .folder:before, .nodes:before, .check:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.people:before {
    content: "\f007";
}
.people-2:before {
    content: "\f0c0";
}
.folder:before {
    content: " \f07b";
}
.nodes:before {
    content: "\f1e0";
}
.check::before {
    content: "\f00c";
    color: #0061ff;
    padding-right:5px;
}
/* Tabella prezzi inferiore */
.price-table-bottom {
    padding-top: 45px;
}
.price-table-bottom > div {
    border: 1px solid #000;
}
/* .price-table-bottom div{
    position: relative;
} */
/* .price-table-bottom button {
    position: absolute;
    top: 25px;
    right: 19px;
} */
.table-btn-bt {
    padding: 12px 25px;
}
#bt-info {
    padding: 50px 20px 70px;
}
#price-bottom {
    font-weight: bold;
    padding: 5px 20px 10px;
}
/* Sezione 2 */
#second-section {
    align-items: center;
    padding: 100px 0 80px;
}
#second-section > div {
    height: 50vh;
    width: calc(100vw / 2);
}
#second-section div.w-40 {
    padding: 20px 60px 20px 40px;
}
#second-section button {
    margin: 40px 0;
}
#s2-img {
    background-image: url('../img/partner.png');
    background-size: cover;
}
/* Sezione 3 */
#s3-container {
    justify-content: space-between;
}
#s3-container div {
    width: calc(90% / 3 );
    margin: 30px 0;
}
#third-section h2:first-child {
    text-align: center;
}
#third-section h2 {
    padding: 80px 0;
}
#third-section a {
    margin: 0 0 100px;
    display: inline-block;
}
/* Sezione 4 */
.b-cont-c {
    overflow-y: scroll;
}
.b-cont-c div p {
    padding: 20px 40px;
}
.bl-img {
    margin: 70px 40px;
}
#cont-sub-b hr {
    margin: 10px 40px;
    border: 0.5px solid;
    width: 20%;
}
/* Container inferiore sezione 4 */
.bring-dpx {
    padding: 6% 0px;
}
/* Sezione 5 */
#last-section > p {
    padding: 30px 0;
}
#last-section > h2 {
    padding: 50px 0;
}
.hidden-p {
    display: none;
}
#last-section i {
    position: relative;
    left: 33%;
}
#last-section {
    padding: 30px 0 100px ;
}
/* Footer pagina */
footer h3 {
    padding: 20px 0;
}
.f-container {
    width: 70%;
    padding: 50px 0;
}
.f-container-flex {
    justify-content: space-between;
    align-items: flex-start;
}
.f-container-flex > div {
    width: calc(85% / 5);
}
.f-container-flex ul li {
    list-style-type: none;
    padding: 8px 0;
}
.f-container-flex a {
    text-decoration: none;
}
/* Parte inferiore footer */
.f-container i {
    padding: 0 5px;
}
.f-container hr {
    border: 0.5px solid;
    width: 10%;
    margin: 90px 0 50px;
}